/* show ... when text is too long */
.ape-text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* show ... when multiline text is too long */
.ape-multi-line-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: attr(data-line, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* use flex layout to align child element center */
.ape-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* generate a square that width is half of parent content width */
.ape-half-parent-width-square {
  width: 50%;
  padding-top: 50%;
}

/* blur text */
.ape-blur-text {
  color: transparent;
  text-shadow: #333 0 0 6px;
}

/* hide */
.ape-hide {
  display: none !important;
}

/* the mordern clearfix solution http://cssmojo.com/the-very-latest-clearfix-reloaded/*/
.ape-clearfix::after {
  content: '';
  display: block;
  clear: both;
}