/* show ... when text is too long */
.ape-text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* use flex layout to align child element center */
.ape-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* generate a square that width is half of parent content width */
.ape-half-parent-width-square {
  width: 50%;
  padding-top: 50%;
}

/* blur text */
.ape-blur-text {
  color: transparent;
  text-shadow: #333 0 0 6px;
}

/* hide */
.ape-hide {
  display: none !important;
}
